In [1]:
#import depedencies
import pandas as pd

In [12]:
#insert csv
tuition_data = "raw_data/cp-2018-Table-2.csv"
wages_data = "raw_data/wage_data.csv"
loan_data = "raw_data/2018-trends-student-aid-source-data_0.csv"

In [13]:
#create dataframe from excel data
schooldf = pd.read_csv(tuition_data)
schooldf.head()

,"TABLE 2. Average Tuition and Fees and Room and Board (Enrollment-Weighted) in Current Dollars and in 2018 Dollars, 1971-72 to 2018-19",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,NaN,Tuition and Fees in 2018 Dollars,NaN,NaN,NaN,NaN,NaN,Tuition and Fees and Room and Board in 2018 Do...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Academic Year,Private Nonprofit Four-Year,One-Year % Change,Public Four-Year,One-Year % Change,Public Two-Year,One-Year % Change,Private Nonprofit Four-Year,One-Year % Change,Public Four-Year,One-Year % Change,NaN,NaN,NaN,NaN,NaN
2,71-72,"$11,330",—,"$2,660",—,"$1,180",—,"$18,140",—,"$8,730",—,NaN,NaN,NaN,NaN,NaN
3,72-73,"$11,730",3.5%,"$3,010",13.2%,"$1,380",16.9%,"$18,580",2.4%,"$9,320",6.8%,NaN,NaN,NaN,NaN,NaN
4,73-74,"$11,660",-0.6%,"$2,900",-3.7%,"$1,540",11.6%,"$18,320",-1.4%,"$9,100",-2.4%,NaN,NaN,NaN,NaN,NaN