In [16]:
#Importing helpful Shit - Sumaya/Jake
import numpy as np
import pandas as pd
from scipy import stats
from matplotlib import pyplot as plt
from scipy.stats import linregress
import numpy as np

In [17]:
#Specifying Files - Sumaya/Jake
tuition_data = "raw_data/tuition_and_board_2018_inflated.csv"
wages_data = "raw_data/median_income.csv"
loan_data = "raw_data/student_aid.csv"
wage_gaps = "raw_data/wage_gap.csv"
student_grants = "raw_data/grants_awarded.csv"
cpi = "raw_data/consumer_price_index.csv"
fed_loan_data = "raw_data/fed_rsrv_bank_std_loan_debt.csv"
student_overall_debt = "raw_data/debt_by_studentswithdebt.csv"

In [18]:
#Defining Table Frmaes - Sumaya/Jake
df_tuition = pd.read_csv(tuition_data)
df_wage_data = pd.read_csv(wages_data)
df_loan_data = pd.read_csv(loan_data)
df_wage_gaps = pd.read_csv(wage_gaps)
df_student_grants = pd.read_csv(student_grants)
df_cpi = pd.read_csv(cpi)
df_fed_loan_data = pd.read_csv(fed_loan_data)
df_student_overall_debt = pd.read_csv(student_overall_debt)

In [22]:
#Merging Tables-Sumaya
merge_table = pd.merge(df_tuition, df_wage_data, on = "year", how = "inner")
merge_table2 = pd.merge(merge_table, df_loan_data,on = "year", how = "inner")
merge_table3 = pd.merge(merge_table2, df_wage_gaps, on = "year", how = "inner")
merge_table4 = pd.merge(merge_table3, df_student_grants, on = "year", how = "inner")
final_merged_table = pd.merge(merge_table4, df_cpi, on = "year", how = "inner")
final_merged_table.head()

final_merged_table['sdf'] ==

#-----------------------------------------------------------------------------------------------------
#Federl Reserve Tables - These tables showcase students with student loans in addition to other loans like mortgage, credit card, and autoloans
#The df_fed_loan_data starts from 1990 and shows data from loan instutions. Which is comprehensive.
#The df_student_overall_debt starts from 1999 and goes by quater. The quaters need to be averaged by year.

,year,private_nonprofit_four-year_tuition,one_year_%_change_tuition,public_four_year_tuition,one_year_%_change_tuition.1,public_two_year_tuition,one_year_%_change_tuition.2,private_nonprofit_four_year_tuition,one_year_%_change_tuition.3,public_four_year_tuition.1,...,expenditure_max,max_award_current,max_2017,min_award_current,min_award_2017,num_recepients,% recipients_independent,CPI,factor_2018,factor_2017
0,1973,"$11,660",-0.60%,"$2,900",-3.70%,"$1,540",11.60%,"$18,320",-1.40%,"$9,100",...,262.959841,452,2497.590790,50,276.282167,176.0,0.133,44.3,5.69,5.53
1,1974,"$10,870",-6.80%,"$2,600",-10.30%,"$1,430",-7.10%,"$17,450",-4.70%,"$8,420",...,1775.704402,1050,5202.941296,50,247.759109,567.0,0.219,49.4,5.10,4.96
2,1975,"$10,650",-2.00%,"$2,510",-3.50%,"$1,160",-18.90%,"$17,110",-1.90%,"$8,280",...,4182.128163,1400,6322.885609,200,903.269373,1217.0,0.298,54.2,4.65,4.52
3,1976,"$11,170",4.90%,"$2,740",9.20%,"$1,240",6.90%,"$17,570",2.70%,"$8,560",...,6325.184501,1400,6001.758319,200,857.394046,1944.0,0.383,57.1,4.41,4.29
4,1977,"$11,150",-0.20%,"$2,730",-0.40%,"$1,280",3.20%,"$17,520",-0.30%,"$8,430",...,6117.001496,1400,5618.039344,200,802.577049,2011.0,0.385,61.0,4.13,4.01